<div class="show-big-container">

  <h1><%= @robot.name %></h1>

  <div class="show-container">
    <%= cl_image_tag @robot.photo.key, height: 300, width: 400, crop: :fill, class:"show-img"%>
    <div class"show-ud">
      <h3><%= @robot.utility %></h3>
      <p> <%= @robot.description %> </p>
      <p class ="animated-link"><%= link_to "Book this robot", new_robot_booking_path(@robot) %></p>
    </div>
  </div>

  <p class ="animated-link"><%= link_to "Edit Robot", edit_robot_path(@robot) %></p>

  <p class ="animated-link"><%= link_to "Back to Robots", robots_path %></p>
  <p class ="animated-link"><%= link_to "Delete",
    robot_path(@robot),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></p>
</div>

<% @bookings.each do |booking| %>
  <h5> Début : <%= booking.date_first%> </h5>
  <h5> Fin : <%= booking.date_end %> </h5>
  <p class ="animated-link">

  <%= link_to "Delete",
    booking_path(booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
  </p>
