<div class="wrapper">
  <div class="one">
    <h1 class="typewriter"><%= @robot.name.capitalize%>, <%= @robot.utility.capitalize %></h1>

  </div>
  <div class="two">
    <%= cl_image_tag @robot.photo.key, height: 300, width: 400, crop: :fill, class:"show-img"%>
  </div>

  <div class="four">
    <p class ="animated-link"><%= link_to "Book this robot", new_robot_booking_path(@robot) %></p>
    <p class ="animated-link"><%= link_to "Edit Robot", edit_robot_path(@robot) %></p>
    <p class ="animated-link"><%= link_to "Back to Robots", robots_path %></p>
    <p class ="animated-link"><%= link_to "Delete",
    robot_path(@robot),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></p>
  </div>
  <div class="five">
    <p> <%= @robot.description.capitalize %> <p>
  </div>

  <div class="six">
    <h2>Réservation </h2>
    <% @robot.bookings.each do |booking| %>
      <h5> Début <%= booking.date_first %> </h5>
      <h5> Fin <%= booking.date_end %> </h5>
  </div>
  <div class="seven">
    <p class ="animated-link" style ="width: 200px;"><%= link_to "Edit booking", edit_booking_path(booking) %></p>
    <p class ="animated-link" style ="width: 200px;">

    <%= link_to "Delete",
      booking_path(booking),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
    </p>
  </div>
</div>
