<h1><%= @robot.name %></h1>

<%= cl_image_tag @robot.photo.key, height: 300, width: 400, crop: :fill %>
<p> <%= @robot.utility %> </p>
<p> <%= @robot.description %> </p>

<p><%= link_to "Back to Robots", robots_path %></p>
